@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/conta"

<PageTitle>Conta</PageTitle>
<header>
<nav class="navbar navbar-light bg-light">
        <a href="/HomepageLogged">
            <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
        </a>
        <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

    <a style="margin-right: 25px;" class="btn btn-primary" href="/conta">A minha conta</a>
</nav>

<hr>
</header>

<center><h1 class="titulo-pag"><b>Conta de Utilizador</b></h1></center>

<p><b>Email: </b> @e_mail </p>

<p><b>Nome: </b> @username </p>

<p><b>Nif: </b> @NIF </p>

<p><b>CC: </b> @CC </p>

<p><b>Morada: </b> @morada </p>

<p><b>Divida Acumulada Nas Licitações Ativas: </b> @dividaAcumulada € </p>
<p><b>Saldo: </b> @carteira € <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupModal">Carregar Saldo</button> </p>

<!-- Popup Modal para Carregar Saldo-->
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupModalLabel">Carregar Saldo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulário dentro do modal -->
        <form>
          <div class="form-group">
            <label for="saldoInput">Valor a Carregar:</label>
            <input type="text" class="form-control" id="saldoInput" placeholder="Insira o valor" @bind="@saldo_acrescentar">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button @onclick="carregaSaldo" type="button" class="btn btn-primary">Carregar Saldo</button>
      </div>
    </div>
  </div>
</div>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table style="width:40%">
    <tr>
        <th>Lista de artigos:</th>
    </tr>
    @foreach (var item in artigosCurrent)
    {
        <tr>
            <td>ID: @item.Value.getIdArtigo() | TIPO: @item.Value.GetType().Name | NOME: @item.Value.getNome() | DESCRIÇÃO: @item.Value.getDescricao() </td>
        </tr>
    }

    <a class="btn btn-primary btn-sm" href="/criarartigo">Criar Artigo</a>
</table>

<p>       </p>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table style="width:40%">
    <tr>
        <th>Histórico de licitações:</th>
    </tr>
    @foreach (var item in licitacoes)
    {
        <tr>
            <td>ID: @item.Value.id_leilao | DATA: @item.Value.data_ocorreu | VALOR: @item.Value.valor </td>
        </tr>
    }
</table>

<p>       </p>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table style="width:40%">
    <tr>
        <th>Histórico de leilões:</th>
    </tr>
    @foreach (var item in leiloes)
    {
        <tr>
            <td>ID: @item.Value.id_leilao | NOME: @item.Value.nome | CATEGORIA: @item.Value.categoria | STATUS-APROVAÇÃO: @item.Value.aprovado </td>
        </tr>
    }
</table>


<a class="botao-dir btn btn-primary" @onclick=@setCurrentUserToNull href ="/">Encerrar Sessão</a>

<a class="botao-esq btn btn-primary" href="/HomepageLogged">Voltar</a>

<!-- Scripts Bootstrap e jQuery (certifique-se de incluir o jQuery antes do Bootstrap.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<Popup @ref="popup" />


@code {

    private Popup popup = new Popup();

    private string e_mail = CurrentUser.getCurrentUser().email_participante;
    private string username = CurrentUser.getCurrentUser().username;
    private int NIF = CurrentUser.getCurrentUser().nif;
    private int CC = CurrentUser.getCurrentUser().cc;
    private string morada = CurrentUser.getCurrentUser().morada;
    private float carteira = CurrentUser.getCurrentUser().carteira;
    private Dictionary<int, Artigo> artigosCurrent = CurrentUser.getCurrentUser().meusArtigos;

    private float dividaAcumulada = CurrentUser.getDivida();

    private Dictionary<int, Licitacao> licitacoes = CurrentUser.getMyLicitacoes();
    private Dictionary<int, Leilao> leiloes = CurrentUser.getMyLeiloes();

    private float saldo_acrescentar;


    //-----------------------------------------------------------------------------------------------------
    // Este pedaço de codigo verifica se há leilões que já tenham terminado e anuncia o vencedor caso
    // haja algum. Tem de ser implementado em todas as paginas porque não se conseguiu por um event handler
    // a funcionar.

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            VerificaEstadoLeiloes check = new VerificaEstadoLeiloes();
            string aviso = check.verifica();
            if (!aviso.Equals(""))
            {
                Console.WriteLine(aviso);
                lança_aviso(aviso);
                await Task.Delay(5000);
                NavigationManager.NavigateTo("/conta", forceLoad: true);
            }
        }
    }

    public async Task lança_aviso(string aviso)
    {
        await InvokeAsync(() => popup.Show(aviso, "AVISO", "70%", "70%"));
    }

    //-----------------------------------------------------------------------------------------------------

    void setCurrentUserToNull()
    {
        Participante vazio = new Participante();
        CurrentUser.setCurrentUser(vazio);
    }

    void carregaSaldo()
    {
        if (CurrentUser.carregaSaldo(carteira + saldo_acrescentar) == true)
        {
            Console.WriteLine("Carregamento concluido");
            NavigationManager.NavigateTo("/conta", forceLoad: true);
        }
        else
        {
            Console.WriteLine("Carregamento falhou");
            popup.Show("Carregamento falhou", "AVISO", "70%", "70%");
        }
    }

    void licitacoesCurrent()
    {
        I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();
        licitacoes = if_leiloes.getLicitacoes(0, CurrentUser.getCurrentUser().email_participante);
    }

    Dictionary<int, Leilao> leiloesCurrent()
    {
        I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();
        return if_leiloes.getParticipanteLeiloes(CurrentUser.getCurrentUser().email_participante);
    }

}