@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager



@page "/"

<PageTitle>Leiloeira Bracarense Lda</PageTitle>
<head>
  <!-- Inclua os links CSS do Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
  <PageTitle>Leiloeira Bracarense Lda</PageTitle>
  <header>
    <nav class="navbar navbar-light bg-light">
      <a href="/">
        <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
      </a>
      <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

      <!-- Botão de Iniciar Sessão que abrirá o modal -->
      <button type="button" style="margin-right: 25px;" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Iniciar Sessão</button>
      <button type="button" style="margin-left: 25px;" class="btn btn-secondary" data-toggle="modal" data-target="#registerModal">Registar</button>
    </nav>

    <!-- Modal de Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Aqui você pode adicionar o formulário de login -->
            <form>
              <div class="form-group">
                <label for="username">Email:</label>
                <!--<input type="text" class="form-control" id="username" name="username">-->
                <input type="text" class="form-control" id="e_mail" name="e_mail" @bind="@e_mail">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" @bind="@password">
              </div>
                        <div class="text-center">
                            <button @onclick="fazer_login" type="button" class="btn btn-primary">Login</button>
                        </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal de Registro -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerModalLabel">Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulário de Registro -->
            <form>
              <div class="form-group">
                <label for="registerEmail">Email:</label>
                <input type="email" class="form-control" id="registerEmail" placeholder="Insira o seu email" @bind="@registerEmail">
              </div>
              <div class="form-group">
                <label for="registerUsername">Nome de Utilizador:</label>
                <input type="text" class="form-control" id="registerUsername" placeholder="Insira o seu nome de utilizador" @bind="@registerUsername">
              </div>
              <div class="form-group">
                <label for="registerMorada">Morada:</label>
                <input type="text" class="form-control" id="registerMorada" placeholder="Insira a sua morada" @bind="@registerMorada">
              </div>
              <div class="form-group">
                <label for="registerCarteira">Carteira (€):</label>
                <input type="number" step="0.01" class="form-control" id="registerCarteira" placeholder="Insira o valor na carteira" @bind="@registerCarteira">
              </div>
              <div class="form-group">
                <label for="registerCC">Cartão de Cidadão (CC):</label>
                <input type="text" class="form-control" id="registerCC" placeholder="Insira o número do CC" @bind="@registerCC">
              </div>
              <div class="form-group">
                <label for="registerNIF">Número de Identificação Fiscal (NIF):</label>
                <input type="text" class="form-control" id="registerNIF" placeholder="Insira o seu NIF" @bind="@registerNIF">
              </div>
              <div class="form-group">
                <label for="registerPassword">Password:</label>
                <input type="password" class="form-control" id="registerPassword" placeholder="Insira a sua password" @bind="@registerPassword">
              </div>
              <div class="text-center">
                <button @onclick=@fazer_registo type="button" class="btn btn-secondary">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<hr>
</header>
<body>
    <p><center>Pretende desfazer-se de algum artigo colecionável? Proponha o seu leilão.<a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#loginModal">Propor Leilão</a></center></p>
    <p><center>Alguma peça em falta? Selecione a sua categoria favorita ou <a data-target="#loginModal"> veja todos os leilões que se encontram disponíveis.</a> </center></p>

    <table align="center">
        <tr>
            <td>
                <a>
                    <img class="imagem" src="images/livros.jpg" alt="livros.jpg"
                    width="400"
                         height="400" />
                    <div class="texto-sobre-imagem">Livros</div>
                </a>
                <hr>
                <!-- <center><a class="btn btn-primary btn-sm" href="/livros">Livros</a></center> -->
                
            </td>
            <td>
                <a>
                    <img class="imagem" src="images/joias.jpg" alt="joias.jpg"
                    width="400"
                    height="400" />
                </a>
                <hr>
                <!-- <center><a class="btn btn-primary btn-sm" href="/joias">Joias</a></center> -->
            </td>
            <td>
                <a>
                    <img class="imagem"  src="images/quadro.png" alt="quadro.png"
                    width="400"
                    height="400" />
                    </a>
                <hr>
                <!-- <center><a class="btn btn-primary btn-sm" href="/quadros">Quadros</a></center> -->
            </td>
        </tr>
    </table>

    <!-- Inclua os scripts JavaScript do Bootstrap no final do seu arquivo HTML -->
    <script suppress-error="BL9992" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script suppress-error="BL9992" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <Popup @ref="popup" />
    
    
</body>


@code {


    private Popup popup = new Popup();
    private string e_mail = "";
    private string password = "";
    private string registerEmail = "";
    private string registerUsername = "";
    private string registerMorada = "";
    private float registerCarteira = 0.0f;
    private string registerCC = "";
    private string registerNIF = "";
    private string registerPassword = "";


    void fazer_login()
    {
        I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();

        // caso seja o administrador
        if (e_mail.Equals("alcino@mail.com"))
        {
            string test_e_mail = "'" + e_mail + "'";
            if (if_leiloes.loginAdmi(test_e_mail, password)) // testar se as credencias existem na BD do Administrador
            {
                Administrador admi = if_leiloes.getAdministradorWithEmail(test_e_mail);
                CurrentAdmi.setCurrentAdmi(admi);
                Console.WriteLine(CurrentAdmi.printCurrentAdmiInfo());
                Console.WriteLine("Login concluido");

                NavigationManager.NavigateTo("/HomepageAdmi", forceLoad: true);

            }
            else
            {
                //popupRef.Show("Esta conta não existe", "Credenciais inválidas", "35%", "35%");
                Console.WriteLine("Esta conta não existe");
                popup.Show("Esta conta não existe", "AVISO", "70%", "70%");
            }
        }
        // caso seja um participante
        else { 
            string test_e_mail = "'" + e_mail + "'";

            if (if_leiloes.login(test_e_mail, password)) // testar se as credencias existem na BD
            {
                Participante user = if_leiloes.getParticipanteWithEmail(test_e_mail);
                CurrentUser.setCurrentUser(user);
                Console.WriteLine(CurrentUser.printCurrentUserInfo());
                Console.WriteLine("Login concluido");

                NavigationManager.NavigateTo("/HomepageLogged", forceLoad: true);

            }
            else
            {
                //popupRef.Show("Esta conta não existe", "Credenciais inválidas", "35%", "35%");
                Console.WriteLine("Esta conta não existe");
                popup.Show("Esta conta não existe", "AVISO", "70%", "70%");
            }
        }
    } 


    void fazer_registo(){
        I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();

        if (if_leiloes.register(registerEmail, registerUsername, registerMorada, registerCarteira, registerPassword, int.Parse(registerCC), int.Parse(registerNIF)))
        {
            Console.WriteLine("Registo concluido");
            popup.Show("Registo concluido", "AVISO", "70%", "70%");
        }
        else{
            Console.WriteLine("Registo falhou");
            popup.Show("Registo falhou", "AVISO", "70%", "70%");
        }
    }

        
}