@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/leilaopagina"

<PageTitle>Leilão</PageTitle>
<header>
    <nav class="navbar navbar-light bg-light">
        <a href="/HomepageLogged">
            <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
        </a>
        <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

        <p><b>Carteira: </b> @carteira €</p>

        <a style="margin-right: 25px;" class="btn btn-primary" href="/conta">Olá @username</a>
    </nav>

    <hr>
</header>


<body>
    <p><b> Nome do leilão: </b> @leilao.nome </p>

    <p></p>

    <table align="center">


        <tr>
            <td style="width: 320px; height: 500px; padding: 10px; border: 5px solid gray; margin: 10px;">
                <div>
                    <p><center><b>Informações</b></center></p>
                    <p>Leiloeiro: @leilao.email_quem_propos</p>
                    <p>Categoria: @leilao.categoria</p>
                    <p>Preço Base: @leilao.preco_base</p>
                    <p>Diferença Minima: @leilao.valor_minimo_licitacao</p>
                    <p>Data Início: @leilao.data_inicio.ToShortDateString()</p>
                    <p>Data Fim: @leilao.data_fim.ToShortDateString()</p>

                </div>
                
            </td>
            <td style="width: 500px; height: 500px; padding: 10px; border: 5px solid gray; margin: 10px;">
                <div>
                    <img align="middle" class="imagem" src="images/quadro.png" alt="quadro.png"
                         width="500"
                         height="500" />
                </div>
            </td>
            <td style="width: 320px; height: 500px; padding: 10px; border: 5px solid gray; margin: 10px;">

                <div>
                    <p><center><b>Histórico de licitações:</b></center></p>
                    @foreach (var item in licitacoes)
                    {
                        <p> UTILIZADOR: @item.Value.email_participante | VALOR: @item.Value.valor</p>

                    }
                    <p></p>
                </div>
            </td>
        </tr>
    </table>

    <div style="display: flex; justify-content: space-between; align-items: baseline; margin-top: 10px;">
        <a class="btn btn-primary" style="margin-right: 1px;"  href="/HomepageLogged">Sair</a>

        <div style="margin-left: 1px;">
            <p>
                <input type="number" id="fname" name="fname" @bind="valor_licitacao">
                <a @onclick=@fazLicitacao class="btn btn-primary">Licitar</a>
            </p>
        </div>
    </div>

</body>

@code {

    private static I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();

    private string username = CurrentUser.getCurrentUser().username;
    private float carteira = CurrentUser.getCurrentUser().carteira;

    private float valor_licitacao = 0;
    private static int id_leilao_a_decorrer;
    private Dictionary<int, Licitacao> licitacoes = if_leiloes.getLicitacoes(id_leilao_a_decorrer, "");

    private Leilao leilao = if_leiloes.getLeilao(id_leilao_a_decorrer);

    void fazLicitacao()
    {
        Licitacao l = new Licitacao(DateTime.Now, valor_licitacao, CurrentUser.getCurrentUser().email_participante, id_leilao_a_decorrer);

        if (if_leiloes.addLicitacao(l) == true)
        {
            Console.WriteLine("Licitação concluida");
            NavigationManager.NavigateTo("/leilaopagina", forceLoad: true);
        }
        else
        {
            Console.WriteLine("Licitação falhou");
        }
    }
}

